
.center-div {
    position: absolute;
    /*background-color: #1a1817;*/
    width:  640px;
    height: 640px;
    left:   50%;
    top:    50%;
    transform: translate(-50%, -50%);
}

#gol-canvas {
    position: absolute;
    left: 50%;
    top:  50%;
    transform: translate(-50%, -50%);
}

#grid-canvas {
    position: absolute;
    background-color: white;
    left: 50%;
    top:  50%;
    transform: translate(-50%, -50%);
    /*border: 5px solid black;*/
}